node_modules
.DS_Store
*.[gtGT][iI][fF]
*.[jJ][pP][gG]
*.[jJ][pP][eE][gG]
*.[hH][eE][iI][cfCF]
*.[mM][pP][0-9]
*.[mM][oO][vV]
*.[oO][oO][gG]
*.[pP][nN][gG]
*.[rR][aA][rR]
*.[vV][tT][tT]
*.[wW][aA][vV]
*.[wW][eE][bB][mpMP]
*.[zZ][iI][pP]
